body {
    height: 100%;
    width: 100%;
    margin : 0px;
    position: relative;
    color: white;
    background-color: orange;
}
.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin : 30px;
    width :85%;
    margin: auto;
}
.post {
    position: relative;
    width: 40%;
    background: white;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 10px 0 rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    overflow: hidden;
}

.PersonName {
    width: 15%;
    font-family: sans-serif;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    color: black;
}

.post-content {
    width: 75%;
    font-size: 16px;
    font-family: sans-serif;
    display: table-cell;
    text-align: left;
    background-color: lightgrey;
    color: black;
    border-radius: 0 15px 15px 0;
    padding: 0 25px;
}

.title{
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    font-size: 18px;
    height: 40px;
    overflow: hidden;
}
.postdetails{
    height: 75px;
    overflow: hidden;
}

.moreContent {
    float: right;
    cursor: pointer;
    padding-bottom: 5px;
    font-size: 20px;
}
.post-trash {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* The Modal (background) */
.trash-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.trash-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    text-align: center;
}

.trash-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trash-modal-button-no {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 45%;
}

.trash-modal-button-yes {
    background-color:  #f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 45%;
}
