.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.headingname{
  color : blue;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
  margin: 0px;
  display: inline;
}
.subheading{
  font-family: 'Satisfy', cursive;
  font-size: 10px;
  color : black;
  margin-top: 0px;
}

.headerbutton{
  color: white;
  padding : 8px 8px ;
  background-color: blue;
  margin-left: 5px;
  font-size : 13px;
}

.middleheader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 1350px;
}
.Mainbutton{
      margin: 5px;
      padding : 10px;
      background-color: #E4D00A	;


}



.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  outline: none;
  font-family: Abel;
}

.label-text {
  font-weight: bold;
  margin: 10px 0;
  font-family: Abel;
}

.modal-content{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.modal-head {
  display: flex;
  flex-direction: column;
}

.close {
  display: flex;
  align-self: flex-end;
  cursor: pointer;
}

.modal-title{
  align-self: center;
  font-family: Abel;
}

.signin-btn {
  background-color: green;
  padding: 10px;
  border: none;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  font-family: Abel;
}

.signup{
  color: blue;
  font-weight: bolder;
  margin-left: 10px;
  cursor: pointer;
  font-family: Abel;
}

.bottom-banner{
  font-family: Abel;
}
