html{
  height: 100%;
  width:100%
}
.postButton{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  width: 1350px;
}
.Mainbutton{
      margin: 5px;
      padding : 10px;
      background-color: #E4D00A	;
}
textarea{
  margin-top: 10px;
  background-color: lightgrey;
  border: none;
  padding : 10px;
  font-size: 18px;
}

.postmodal{
  background-color: white;
  margin: 20px;
  padding: 20px;
  width: 70%;
  height: 90%;

}
.posttitle{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-family: Arial Narrow;
}
.titletext{
background-color: lightgrey;
border: none;
font-size: 18px;
font-weight: normal;
width : 50%;
}
.createpostbtn{
  margin-top: 10px;
  background-color: green;
  font-size: 15px;
  width:100px;
  color: white;
  padding: 10px;
  align-self: center;
}
