.headerbutton{
  color: white;
  padding : 10px;
  background-color: blue;
  margin-left: 5px;
  display: inline-flex;
  float: right;
  display: block;
}
.header{
  height: 20px;
}
.headingname{
  color : blue;
  font-family: 'Satisfy', cursive;
  display: inline-block;
  font-size: 30px;
  margin-top: 0px;
}
.subheading{
  display: inline-block;
  font-family: 'Satisfy', cursive;
  font-size: 12px;
  color : grey;
  margin-top: 20px;
}

.middleheader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 1350px;
}
.Mainbutton{
      margin: 5px;
      padding : 10px;
      background-color: #E4D00A	;


}



/* for sign in */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
